{%- assign artists = site.data.tracklist -%}
{%- assign footnotes = 0 -%}
{% for row in artists | sort: row.artist%}
{%- assign flagURL = '"https://flagcdn.com/' | append: row.origin | append: '.svg"' -%}

<hr>
<div style="display:flex; align-items:center; width: 100%; height:32px">
    <h2 style="display: flex; float:left; line-height: 32px" id="{{row.artist}}">
        <div style="width:64px; height:32px; background: black;clip-path: polygon(12% 16%, 100% 16%, 88% 84%, 0 84%);">
            <div style="width:100%; height:100%; clip-path: polygon(14% 20%, 98% 20%, 88% 80%, 2% 80%); text-align:center; background: white"><img style="clip-path: inherit;" height="100%" src={{flagURL}}></div>
        </div>{{row.artist}}
    </h2>
</div>
<hr>
<br>
<table style="">
    <tr>
        <th style="width: 20%;">Name</th>
        <th style="width: 24%;">Album</th>
        <th style="width: 4%;">Year</th>
        <th style="width: 35%;">Spotify</th>
        <th>Contexts</th>
    </tr>
    {%- assign tracks = row.tracks | sort: 'track' | sort: 'year' -%}
    {%- for song in tracks  %}
    <tr>
        <td>{{song.track}}</td>
        <td>{{song.album}}</td>
        <td>{{song.year}}</td>
        <td>
            {%- assign songID = song.spotifyID -%}
            {%- assign songLink = "https://open.spotify.com/embed/track/" | append: songID | append: "?utm_source=generator&theme=0" -%}
            <iframe style="border-radius:12px" src="{{songLink}}" width="100%" height="96" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </td>
        <td>
            {%- if song.battle == true -%}
            {%- assign alt-txt = "battle" | capitalize -%}
            {%- assign ico = '"assets/context-icons/' | append: alt-txt | append: '.svg"' -%}
            {%- assign context-ico = "<img src=" | append: ico | append: ' width="32px" height="32px" title="' | append: alt-txt | append: '"/>&nbsp' -%}
            {{- context-ico -}}
            {%- endif -%}
            {%- if song.exploration == true -%}
            {%- assign alt-txt = "exploration" | capitalize -%}
            {%- assign ico = '"assets/context-icons/' | append: alt-txt | append: '.svg"' -%}
            {%- assign context-ico = "<img src=" | append: ico | append: ' width="32px" height="32px" title="' | append: alt-txt | append: '"/>&nbsp' -%}
            {{- context-ico -}}
            {%- endif -%}
            {%- if song.boss == true -%}
            {%- assign alt-txt = "boss" | capitalize -%}
            {%- assign ico = '"assets/context-icons/' | append: alt-txt | append: '.svg"' -%}
            {%- assign context-ico = "<img src=" | append: ico | append: ' width="32px" height="32px" title="' | append: alt-txt | append: '"/>&nbsp' -%}
            {{- context-ico -}}
            {%- endif -%}
            {%- if song.special == true -%}
            {%- assign alt-txt = "special" | capitalize -%}
            {%- assign ico = '"assets/context-icons/' | append: alt-txt | append: '.svg"' -%}
            {%- assign context-ico = "<img src=" | append: ico | append: ' width="32px" height="32px" title="' | append: alt-txt | append: '"/>&nbsp' -%}
            {{- context-ico -}}
            {%- endif -%}
            {%- if song.menu == true -%}
            {%- assign alt-txt = "menu" | capitalize -%}
            {%- assign ico = '"assets/context-icons/' | append: alt-txt | append: '.svg"' -%}
            {%- assign context-ico = "<img src=" | append: ico | append: ' width="32px" height="32px" title="' | append: alt-txt | append: '"/>&nbsp' -%}
            {{- context-ico -}}
            {%- endif -%}
        </td>
    </tr>
    {%- assign context_icos = empty -%}
    {%- endfor %}
</table>
{% endfor %}