{%- assign artists = "" %}
{%- for row in site.data.tracklist -%}
{%- if forloop.first -%}
{%-assign artists = artists-%}
{%-assign artists = artists | append: row["artist"] %}
{%-endif-%}
{%-assign artists = artists | append: ', '| append: row["artist"] %}
{%- endfor %}
{%- assign artists_arr = artists | split: ', ' %}
{%- assign unique_artists = artists_arr | uniq | join: ', ' %}
{%- assign artists = unique_artists | split: ', ' -%}

{% for artist in artists | sort: artist%}
{%- assign thishref = artist -%}
<h2 id="#{{thishref}}">{{artist}}</h2>
{% assign thisBand = site.data.tracklist | sort:"name"| sort: "year" | where: "artist", artist%}
<table>
    <tr>
        <th style="width: 20%;">Name</th>
        <th style="width: 24%;">Album</th>
        <th style="width: 4%;">Year</th>
        <th style="width: 35%;">Spotify</th>
        <th>Contexts</th>
    </tr>
    {%- for row in thisBand%}
    {%- assign context-icos = "" -%}
    <tr>
        {%- for pair in row  -%}
        {% if pair[0] != "artist" and pair[0] != "battle" and pair[0] != "exploration" and pair[0] != "boss" and pair[0] != "menu" and pair[0] != "special" %}
        <td>
            {%- if pair[0] == "spotifyID" -%}
            {%- assign songID = pair[1] -%}
            {%- assign songLink = "https://open.spotify.com/embed/track/" | append: songID | append: "?utm_source=generator&theme=0" -%}
            <iframe style="border-radius:12px" src="{{songLink}}" width="100%" height="96" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            {%- else -%}
            {{ pair[1] -}}
            {% endif -%}
        </td>
        {%- elsif pair[0] != "artist" -%}
        {%- assign alt-txt = pair[0] | capitalize -%}
        {%- assign ico = '"assets/context-icons/' | append: alt-txt | append: '.svg"' -%}
        {%- assign context-ico = "<img src=" | append: ico | append: ' width="32px" height="32px" title="' | append: alt-txt | append: '"/>&nbsp' -%}
        {%- if pair[1] -%}
        {%- assign context-icos = context-icos | append: context-ico -%}
        {%- else -%}
        {%- endif -%}
        {%- endif -%}
        {%- endfor %}
        <td>{{ context-icos }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}