@font-face {
    font-family: 'BMSpace';
    src: url('BMSpace.woff') format('woff');
src: url('BMSpace.woff2') format('woff2');
    src: url('BMSpace.svg#BMSpace') format('svg');
    src: url('BMSpace.eot');
    src: url('BMSpace.eot?#iefix') format('embedded-opentype');
    src: url('BMSpace.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FOT-Rodin-Pro-M';
    src: url('FOT-Rodin-Pro-M.woff') format('woff');
    src: url('FOT-Rodin-Pro-M.woff2') format('woff2');
    src: url('FOT-Rodin-Pro-M.eot');
    src: url('FOT-Rodin-Pro-M.eot?#iefix') format('embedded-opentype');
    src: url('FOT-Rodin-Pro-M.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FOT-Rodin-Pro-UB';
    src: url('FOT-Rodin-Pro-UB.woff') format('woff');
    src: url('FOT-Rodin-Pro-UB.woff2') format('woff2');
    src: url('FOT-Rodin-Pro-UB.eot');
    src: url('FOT-Rodin-Pro-UB.eot?#iefix') format('embedded-opentype');
    src: url('FOT-Rodin-Pro-UB.otf') format('truetype');

    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}